@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

@media (min-width: 768px) {

  header {
    display: none;
    visibility: hidden;
  }

  .main-container {
    background-image: url("./imgs/Header-llustration-desktop@1x.svg");
    background-repeat: no-repeat;
    background-position: center bottom 100%;
    background-size: cover;
    height: 1434.3px;
    /* margin-bottom: 29px; */
  }

  .headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menu-header-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 42px;
    padding-top: 2%;
  }

  .menu-header-items li a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .intro-txt{
    margin-top: 340px;
  }

  .intro-txt h1,
  h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.37px;
    margin-top: -36px;
  }

  .wave-txt {
    color: #172b4d;
  }

  .desc-txt {
    color: #36b37f;
  }

  .main-headline-txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #172B4D;
    width: 920px;
    height: 96px;
    align-self: center;
  }

  .media-imgs {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }

  .media-imgs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 200px;
  }

  .works-sec{
    margin-top: 120px;
  }
  
  .div-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12px;
  }
}

/* Mobile setup */
@media (min-width: 375px) and (max-width: 767px) {
  header {
    display: block;
    visibility: visible;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 42px;
    justify-content: space-between;
    max-width: 600px;
  }

  .nav-bar a {
    text-decoration: none;
  }

  .title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #28352f;
  }

  .main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .headline {
    background-image: url("./imgs/header-illsutration-mobile@1x.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    width: 375px;
  }

  .headline ul {
    display: none;
    visibility: hidden;
  }

  .intro-txt .main-headline-txt {
    width: 327px;
    height: 192px;
  }

  .intro-txt h1,
  h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
  }

  .wave-txt {
    color: #172b4d;
  }

  .desc-txt {
    color: #36b37f;
  }

  .main-headline-txt p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #172b4d;
    width: 327px;
    height: 164px;
  }

  .media-imgs {
    display: flex;
    width: 200px;
    justify-content: space-between;
  }

  .media-imgs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 200px;
  }

  #works-txt-id {
    width: 340px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .div-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12px;
  }

  .main-container-works {
    display: grid;
    gap: 20px;
    justify-content: center;
  }

  .grid-container-works {
    display: grid;
    background-color: #ebf0ee;
    border-radius: 8px;
    width: 327px;
    height: 474px;
    border-style: solid;
    border-width: thin;
    border-color: #d0d9d4;

    /* grid-gap: 10px; */
  }

  .card-flex-container {
    display: flex;
    flex-direction: column;
  }

  .grey-bckgd {
    height: 222px;
  }

  .card-contents {
    background-color: white;
    border-radius: 8px;
    height: 252px;
    display: flex;
    flex-direction: column;
  }

  .card-subt h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #3a4a42;
  }

  .card-buttons ul {
    list-style-type: none;
    flex-direction: row;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

  .card-buttons ul li {
    border: none;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    padding: 8px 12px 8px 12px;
    background-color: #ebf0ee;
    color: #3a4a42;
  }

  .card-see-prjct {
    display: flex;
    justify-content: center;
    padding: 32px 0;
  }

  .green-button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    background: #36b37f;
    border-radius: 4px;
    border: none;
    color: white;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 12px;
  }

  .green-button:hover {
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
    border-radius: 4px;
  }

  .green-button:active {
    background: #008552;
    border-radius: 4px;
  }

  /* Resource: https://www.w3schools.com/css/css3_backgrounds.asp */
  #about-me {
    background-image: url("./imgs/illustration1-aboutme-mobile.svg"), url("./imgs/illustration2-aboutme-mobile.svg");
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact {
    background-image: url("./imgs/illustration-contact-form.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact form ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .contact form ul li {
    list-style: none;
  }

  .contact form ul li input {
    background: #fff;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    width: 327px;
    height: 48px;
    margin-bottom: 24px;
  }

  .contact form ul li input::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding: 15px 16px;
    color: #6b778c;
  }

  .contact form ul li textarea {
    background: #fff;
    border: 1px solid #60c095;
    border-radius: 4px;
    width: 327px;
    height: 114;
    margin-bottom: 24px;
  }

  .contact form ul li textarea::placeholder {
    padding: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #091e42;
  }

  .contact form button {
    margin-bottom: 46px;
  }

  .contact p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
  }
}
